@model Category

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Category Id: @Model.CategoryId</h5>
        <h5 class="card-title">Category Name: @Model.Name</h5>
        <h5 class="card-title">Category Description: @Model.Description</h5>

        <a href="~/Category/Index" class="btn btn-primary my-3">Back</a>
    </div>
</div>